   .contacts{
      display: flex;
      justify-content:space-around;
   }
   h2 { 
    text-align: center;
   }
   .contacts img {
      width: 40px;
   }
   .contacts a {
      color: white;
      font-size: 20px;
      background: black;
      line-height: 100%;
      width: 160px;
   }
   .link{
      display: flex;
      align-items:center;
      height: 33px;
   }
   .text {
      margin: auto;
   }
   .link:hover {
      text-decoration: none;
   }
   .table {
      margin-top: 500px;
   }
   .iksweb{
	width: 100%;
   }
   td {
      border: 1px solid black;
      color: silver;
   }